<div class="main-window">

    <div class="card">
        <span style="font-weight: bold;font-size: larger;margin-bottom: 10px;">Feedback</span>
        <textarea [(ngModel)]="feedbackText" placeholder="Write Your Feedback here....." rows="5">{{feedbackText}}</textarea>
        <div style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
            <button (click)="update()">Submit</button>
            <button *ngIf="isAdmin" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>